{
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "port": 3306,
        "use_pool": true,
        "pool_name": "wwdtm_api",
        "pool_size": 10,
        "raise_on_warnings": true,
        "autocommit": true,
        "compress": false,
        "charset": "utf8mb4",
        "collation": "utf8mb4_unicode_ci",
    },
    "settings": {
        "time_zone": "America/Los_Angeles",
        "stats_url": "https://stats.wwdt.me/",
        "contact_email": "",
        "contact_name": "",
        "contact_url": "",
        "mastodon_url": "",
        "mastodon_user": "",
        "bluesky_url": "",
        "bluesky_user": "",
        "patreon_url": "",
        "github_sponsor_url": "",
        "umami_analytics": {
            "_enabled": false,
            "url": "",
            "data_website_id": "",
            "data_domains": "",
            "data_host_url": "",
            "data_auto_track": true
        },
        "number_decimal_places": 6
    }
}
