{
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "port": 3306,
        "use_pool": true,
        "pool_name": "wwdtm_api",
        "pool_size": 10,
        "raise_on_warnings": true,
        "autocommit": true,
        "compress": false,
        "charset": "utf8mb4",
        "collation": "utf8mb4_unicode_ci",
        "time_zone": "America/Los_Angeles"
    },
    "settings": {
        "stats_url": "https://stats.wwdt.me/",
        "contact_email": "",
        "contact_name": "",
        "contact_url": "",
        "patreon_url": "",
        "use_decimal_scores": false
    }
}
