{
    "database": {
        "host": "",
        "user": "",
        "password": "",
        "database": "",
        "port": 3306,
        "raise_on_warnings": true,
        "compress": false,
        "charset": "utf8mb4",
        "collation": "utf8mb4_unicode_ci",
        "time_zone": "America/Los_Angeles"
    }
}
