fastapi==0.70.1
uvicorn[standard]==0.16.0
gunicorn==20.1.0
aiofiles==0.8.0
jinja2==3.0.3
email-validator==1.1.3
requests==2.26.0

# Include wwdtm>=2.0.0
-e git+https://github.com/questionlp/wwdtm.git@master#egg=wwdtm
