ruff==0.14.14
pydoclint==0.8.4
pytest==9.0.3
pytest-cov==7.0.0

aiofiles==25.1.0
email-validator==2.3.0
fastapi==0.136.3
gunicorn==24.1.1
httpx==0.28.1
jinja2~=3.1.6
pydantic==2.13.4
requests==2.33.1
uvicorn[standard]==0.48.0

wwdtm>=3.2.0, <3.3
