<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wait Wait Don't Tell Me Stats API Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Wait Wait Don't Tell Me! Stats API Landing Page</h1>
    </header>

    <main>
        <div class="notice">
            <p>
                <b>Note:</b> API v1.0 has been deprecated and will no longer
                be available for use after January 31, 2023.
            </p>
            <p>
                Please migrate your application from using API v1.0 to v2.0.
                For more information on the changes from v1.0 to v2.0, refer
                to <a href="https://github.com/questionlp/api.wwdt.me_v2/blob/main/API-CHANGES.md">API-CHANGES.md</a>
                in the GitHub repository.
            </p>
        </div>
        <div class="page-link">
            <a class="links" href="/v1.0/docs">API v1.0 Documentation →</a>
        </div>
        <div class="page-link">
            <a class="links" href="/v2.0/docs">API v2.0 Documentation →</a>
        </div>
        <div class="page-link">
            <a class="links" href="/v2.0/openapi">Try out API v2.0 →</a>
        </div>
        <div class="page-link">
            {% if stats_url %}
            <a class="links" href="{{ stats_url }}">Stats Page →</a>
            {% else %}
            <a class="links" href="https://stats.wwdt.me/">Stats Page →</a>
            {% endif %}
        </div>
    </main>
</body>
</html>
