<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wait Wait Don't Tell Me Stats API Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Wait Wait Don't Tell Me! Stats API Landing Page</h1>
    </header>

    <main>
        <div class="page-link">
            <a class="links" href="/v2.0/docs">API Documentation →</a>
        </div>
        <div class="page-link">
            <a class="links" href="/v2.0/openapi">Try out the API →</a>
        </div>
        <div class="page-link">
            <a class="links" href="//stats.wwdt.me/">Stats Page →</a>
        </div>
    </main>
</body>
</html>